<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Аналитика продаж</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

<header class="bg-blue-500 text-white p-3">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/products" class="text-lg font-semibold">Главная</a>
        <nav class="flex space-x-4 items-center">
            <a sec:authorize="hasRole('ADMIN')" href="/users" class="hover:text-blue-300">Админ</a>
            <a sec:authorize="hasRole('MANAGER')" href="/counterparties" class="hover:text-blue-300">Контрагенты</a>
            <a sec:authorize="hasRole('MANAGER')" href="/products" class="hover:text-blue-300">Товары</a>
            <a sec:authorize="hasRole('MANAGER')" href="/orders" class="hover:text-blue-300">Заказы</a>
            <a href="/profile" class="hover:text-blue-300">Профиль</a>
        </nav>
    </div>
</header>
<main class="container mx-auto mt-12 px-4">
    <div class="text-center">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
                <h3 class="text-lg font-semibold text-blue-600 mb-4">Сумма продаж</h3>
                <img th:src="${sumUrl}" alt="График суммы продаж" class="w-full rounded-lg">
            </div>

            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
                <h3 class="text-lg font-semibold text-blue-600 mb-4">Количество заказов</h3>
                <img th:src="${countUrl}" alt="График количества заказов" class="w-full rounded-lg">
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
                <h3 class="text-lg font-semibold text-blue-600 mb-4">Средний чек</h3>
                <img th:src="${averageUrl}" alt="Средний чек" class="w-full rounded-lg">
            </div>
        </div>
    </div>
</main>

</body>
</html>
